<div class="container py-4">
  <h1 class="text-center mb-4 text-warning"> Angular To-Do List App</h1>

  <!--BOOTSTRAP INPUT SECTION

   /* <div class="input-group mb-3">
   <input
      class = "form-control"
      type = "text"
      placeholder = "Enter a new task"
      [(ngModel)] = "newTask"
      (keyup.enter) = "addTask()"
    />
    <button class="btn btn-primary" (click)="addTask()">Add</button>
  </div>  -->

  <!-- ANGULAR-MATERIAL INPUT SECTION -->

<div class="input-section d-flex align-items-center mb-4">
    <mat-form-field appearance="outline" class="flex-grow-1">
      <mat-label>Enter a new task</mat-label>
      <input
        matInput
        [(ngModel)]="newTask"
        (keyup.enter)="addTask()"
        placeholder="What do you need to do?"
      />
    </mat-form-field>

    <button mat-raised-button class="add-btn" (click)="addTask()">
      <mat-icon>add_circle</mat-icon>
      <span>Add</span>
    </button>
  </div>

  <!-- BOOTSTRAP TASKS TO DO SECTION

  <div class="card mb-4 shadow-sm">
    <div class="card-header bg-info text-dark">
      <h5 class="mb-0">Tasks to Do</h5>
  </div>

  <ul class="list-group list-group-flush">
  <li
    *ngFor="let task of tasks; let i = index"
    class="list-group-item d-flex justify-content-between align-items-center"
  >

  <span>{{task}}</span>

  <div>
    <button class = "btn btn-success btn-sm me-2" (click)="finishTask(i)">
      <i class="bi bi-check-circle"></i> Done
    </button>

      <button class="btn btn-danger btn-sm" (click)="deleteTask(i)">
        <i class="bi bi-trash"></i> Delete
      </button>
    </div>
  </li>
</ul>

  <div *ngIf="tasks.length === 0" class="card-body text-center text-muted">
    <em>No Tasks Yet</em>
  </div>
</div> -->

<!-- ANGULAR-MATERIAL TASKS TO DO SECTION -->
  <mat-card>
    <mat-card-header class="todo-header">
      <mat-card-title>Tasks to Do</mat-card-title>
    </mat-card-header>

    <mat-list>
      <mat-list-item *ngFor="let task of tasks;">
        <div class="w-100 d-flex justify-content-between align-items-center">
          <span>{{ task.todo }}</span>
          <div>
            <button mat-raised-button color="accent" (click)="finishTasks(task.id)">
              <mat-icon>check_circle</mat-icon> Done
            </button>
            <button mat-raised-button color="warn" (click)="deleteTask(task.id)">
              <mat-icon>delete</mat-icon> Delete
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>

    <mat-card-content *ngIf="tasks.length === 0" class="text-center text-muted">
      <em>No Tasks Yet</em>
    </mat-card-content>
  </mat-card>

<!-- BOOTSTRAP FINISHED TASKS SECTION 

<div class="card shadow-sm">
  <div class="card-header bg-info text-light">
    <h5 class ="mb-0">Finished Tasks</h5>
</div>

<ul class="list-group list-group-flush">
  <li
    *ngFor="let finished of finishedTasks"
    class="list-group-iterm text-muted text-decoration-line-through"
  >
    {{finished}}
  </li>
</ul>

    <div *ngIf="finishedTasks.length === 0" class="card-body text-center text-muted">
      <em>No Finished Tasks Yet</em>
    </div>
  </div>
</div>  -->

<!-- ANGULAR-MATERIAL FINISHED TASKS SECTION -->
<mat-card>
  <mat-card-header class="finished-header">
    <mat-card-title>Finished Tasks</mat-card-title>
  </mat-card-header>

  <mat-list>
    <mat-list-item
      *ngFor="let finished of finishedTasks"
      class="d-flex justify-content-between align-items-center"
    >
      <div class="d-flex justify-content-between align-items-center w-100">
        <span class="text-muted text-decoration-line-through">
          {{ finished.todo }}
        </span>
        
        <button
          mat-raised-button
          color="warn"
          (click)="deleteFinishedTask(finished.id)"
        >
          <mat-icon>delete</mat-icon> Delete
        </button>
      </div>
    </mat-list-item>
  </mat-list>

  <mat-card-content *ngIf="finishedTasks.length === 0" class="text-center text-muted">
    <em>No Finished Tasks Yet</em>
  </mat-card-content>
</mat-card>



